/* 下拉菜单 */
.li12 .a2:hover {
    color: #00a4ff;
}

.ul2 {
    padding-top: 20px;
    display: none;
}

.ul2 li {
    padding: 10px 15px;
    background-color: #fff;
    border-bottom: #000 solid 1px;
}

.ul2 li a {
    line-height: 24px;
    color: #000;
    font-size: 20px;
}

.li12:hover .ul2 {
    display: block;
}

.ul2 li:hover {
    background-color: #00a4ff;
}

.ul2 a:hover {
    color: #fff;
}